
 *{
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;
    }
    /* #list-hed list-do:hover{
        visibility: visible;
    } */
    
    #photosection{
        background-image:url(./photos/PHOTO2.jpg) ;
        height: 100vh;
        background-repeat:no-repeat ;
        background-size: cover;
        width: 100hv;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        
        
    }
    .nav-link{
        font-size: 20px; 
        font-weight: 20px;
    } 
    #quote
    {
        margin-left: 100px;
        width: 300px;
        font-size: 50px;
        
        
    }
    #more{
        width: 110px;
        height:30px;
        text-align: center;
        background-color: #78ae78;
        font-size: 20px;
        color: white;
        margin-left: 100px;
        margin-top: 300px;
        text-decoration:unset;
        list-style: none;
    }
    .col-8{
        color: white;
    }
    #navbarSupportedContent{
        margin-right: 100px;
        color:#609;
    }
    .first-btn{
        width: 50px;
        height: 40px;
        background: transparent;
        border: none;
        font-size: 30px;
        margin-left: 100px;
        margin-right: 100px;
        color: beige;
    }

    /* #header
    {
        background-color: transparent;
        height: 60px;
        margin: 0px;
        position: sticky;
        top: 0px;
    } */
    /* #lot{
        color: #370
        font-size: 30px;
        padding-top: 15px;
        
    } */
    .both
    {
        display: inline-block;
        width: 45%;
        height: 100px;
        vertical-align: top;
        padding-right: 20px;
    margin-left: 100px;
    
    }
    .collapse navbar-collapse{
        margin-right: 100px;
    }

    .carousel-control-prev{
        margin-bottom: 50px;
        margin-top: 500px;
    }
    .firstsession-lastdiv{
        
    }
    .carousel-control-next{
        margin-bottom: 50px;
        margin-top: 500px;
    }

    /*img{
        width: 100%;
    }
    #dis{
        list-style: none;
        color: white;
        padding-top: 10px;
        color: white;
        
    }
    #dis>li{
        display: inline-block;
        padding: 10px;
        font-size: 15px;
        text-transform: capitalize;
    }
    #dis>li>a{
        color: white;
        text-decoration: none;
        font-weight: 600;
        
    }
    #dis>li>a:hover{
        text-decoration: underline;
    }*/

    #secondsection{
        height: auto;
        background-color:whitesmoke;
        width: 100hv;
        /*padding-left: 100px;*/ 
    }
    #secondsectionfirst{
        margin-left: 20px;
        margin-right: 20px;
    }
    .al{
        width: 300px;
        height:auto;
        display: inline-block;
        margin: 20px;*/
        vertical-align: top;
        
    }
    .photoone{
        height: 500px;
        width: 300px;
        margin: 20px;*/
        
    }
    .photoone>img
    {
        height: 500px;
        width: 300px;

    }
    .photosecond{ 
        width: 300px;
        height: 200px;
        margin: 20px;

    }
    .photosecond>img{
        width: 460px;
        height: 200px;
    }
    #thiredsection{
        height: auto;
        background-color: white;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        padding-left: 100px;
        padding-right: 100px;
        width: 100hv;
        margin-bottom: 0px;
        color: black;
        
    }
    .sectionone{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 20px;
    width: 500px;
    margin-bottom: 40px;
    margin-top: 40px;
    height: 470px;

    }
    .text-inner h4{
        margin-top: 55px;
        font-size: 15px;
        margin-bottom: 100px;
    /* background-color: blueviolet; */
    /* height:550px ; */
    /*width: 500px;*/
    
    }
    .thiredsecond{
        text-transform: capitalize;
        font-size: 20px;
        display: flex;
        flex-direction: row;
        padding-top: 14px;
        width: 500px;
    }
    /* #thired-second-b-arrow{
        margin-left: auto;
        margin-top: 3px;    
    } */
    #thired-one-two{
    /* margin-left: auto;
    margin-top: 3px;
    margin-right: 100%;
    margin-left: 100%; */
    }
    .thired-second-a-arrow{
         margin-top: 3px;
        border: none;
        width: 50px;
        height: 40px;
        background: transparent;
        font-size: 30px;
       margin: auto;

    }
    .fourth-section{
        background-color: aquamarine;
        margin-top: 0px;
    }
    .fullimage{
        height:700px;
        background-image: url(./photos/wareboat.jpg);
         background-repeat: no-repeat; 
         background-size: cover; 
        margin: 20px;
        padding-top: 500px;
        padding-left: 400px;
        padding-right: 400px;
        color: white;
        font-size: 20px;
        /*border-width: 15px;
        border-color: blue;
        border-radius: 15px;*/
    }
    .fifth-d{
        margin-left: auto;
        margin-right: auto;
        margin-top: 100px;
        width: 400px;
        text-align: center; 

    }
    #inner-texttwo{
    margin-bottom: 50px;
    font-size: 25px;
    }
    .fullimage onep{
        margin: auto;
    }
    
    #inner-textthree{
        width: 400px;
        text-align: center;
    }
    #btnone{
        margin-left: auto;
        margin-right: auto;
        width: 100px;
        background-color: #321;
        color: white;
        height: 30px;
        font-size: 20px;
        margin-bottom: 100px;
        border: none;
    } 
    .gallery{
        /*height: auto;*/
        /* display: flex;
        flex-direction: row; */
        justify-content: space-between;
        margin-left:10px ;
        margin-right: 10px;
        margin-top: 20px;
        margin-bottom: 30px;
        height: 570px;
        background-color: whitesmoke;
        padding-top: 10px;
        
    }
    .gone{
        height: 500px;
        margin-left: 20px;
        padding-left: 100px;
    }
    .sp{
        margin: 10px;
        height: 500px;
        
    }
    #spone{
        height: 500px;
        width: 350px;
        border-radius: 7px;
    }
    #sptwo{
        height: 500px;
        width: 650px;
        border-radius: 7px;
    }
    #spthree{
        height: 500px;
        width: 35 0px;
        border-radius: 7px;
    }
    .bttn{
        color: white;
        margin:auto;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin-bottom: 30px;
        color: #321;
        margin-top: 20px;

    }
    .btn{
        color: brown;
        border: none;
        /* margin-left: auto;
        margin-right: auto; */
    } 
    .bg-success{
        /* background-color: aqua;
        margin-top: 0px; */
    } 
    #middletext{
        margin-top: 40px; 
        width: 400px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        text-transform: capitalize; */
    }
    .tent{
        height: 500px; 
        width: 800px;
        background-color: #875;
        margin-left: auto;
        margin-right: auto;
        margin-top: 65px;
        display: flex;
        flex-direction: row;
        padding-right: 20px;
    }
    .tentcapone{
        width: 400px;
        height:700px ;
        
    }
    }
    .tentcap{
        width: 400px;
        padding: 20px;
        /* margin-top: 100px; */
        
    }
    .tentcapone img{
        height: 450px;
        width: 350px;
        margin: 20px;
        box-shadow: 0px 0px 10px 10px  lightblue;
    }
    #tentcaptext{
        margin-left: 100px;
        margin-top: 45px;
    }
    #tentcaphead{
        font-size: 41px;
        margin-top: 100px;
    }
    .btn-lm{
        margin-left: 100px;
        background-color: #321;
        margin-top: 50px;
        width: 150px;
        height: 30px;
        border: none;
        font-size: 20px;
        text-decoration: none;
       
    }
    /*.sectionone div{
        width: auto;
    margin-bottom: 20px;
    border-radius: 7px;*/

    }

    /*.text-inner img{
        border-radius: 7px ; 
        height: 550px;
        /*width: 500px;*/
    }
    /* .thiredsecond{ 
        height:50px;
        background-color: cornflowerblue;

    }*/

    /* .fullimage img{
        border-radius: 15px;
        border-color: blue;
        border-width: 15px;
    } */
    .spn{
        margin: 10px;
        height: 500px;
        
    }
    .spn>img{
        height: 500px;
        width: 600px;
    }
    .sp>img{
    /*  height: 500px;
        width: 400px;*/
    }
    #about_section_first{
        height: 900px;
        background-color:#78ae78; 
        width: ;
    }
    .about_section_first_one{
        display: flex;
        flex-direction: row;
        width:;
    }
    #firstdiv{
        margin-bottom: 0px;
        margin-top: auto;
    }
    #seconddiv{
        height: 500px;
        width: 250px;
        margin-bottom: 20px;
    }
    #thireddiv{
        height: 637px;
        width: 800px;
        margin-right: 0px;
        margin-top: 100px;
        margin-left: auto;
        background-color: #790;
        /* padding-left: 300px; */
        padding-top: 100px;
        padding-right: 100px;
        display: flex;
        flex-direction: row;
        
    }
    #thired-div-im{
        height: 360px;
        width: 310px;
        /* margin-top: 100px; */
        margin-left: 0px;
    }
    .your_text{
        margin-top: 100px;
        display: inline-block;
        vertical-align: top;
        font-size: px;
        font-style: italic;
    }
    #forth-d{
        margin-left: 65px;
    }
    /* #thired-div-ft
    { 
        height: 550px;
        width: 450px;
        background-image: url(./photos/suhail24.jpg);
        background-repeat: no-repeat;
        padding-top: 360px; 
    } */
    .contact_first{
        height: auto;
        background-color: whitesmoke;
    }
    .contact_adventure{
        background-image:url(./photos/parashoot.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        height: 500px;
        text-align: center;
        color: white;
        margin: 20px;
        padding-top: 50px;
    }
    #adventure{
        font-size:20px;
        color: #321;
    }
